In [1]:
# Data Manipulation and numerical Calculations
import pandas as pd
import numpy as np
import random

# Data visualizations
import matplotlib.pyplot as plt
import seaborn as sns

#to ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
%cd "C:\Users\Admin\Documents\Nhập môn khoa học dữ liệu\BTL"

C:\Users\Admin\Documents\Nhập môn khoa học dữ liệu\BTL

In [3]:
data = pd.read_csv("./Summer-Olympic-medals-1976-to-2008.csv",encoding='latin-1')

In [4]:
data.head(10)

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
5,Montreal,1976.0,Aquatics,Diving,10m platform,"LOUGANIS, Gregory",Men,USA,United States,M,Silver
6,NaN,1976.0,Aquatics,Diving,10m platform,"VAYTSEKHOVSKAYA, Elena",Women,URS,Soviet Union,W,Gold
7,Montreal,1976.0,Aquatics,Diving,3m springboard,"POTTER-MCINGVALE, Cynthia",Women,USA,United States,W,Bronze
8,Montreal,1976.0,Aquatics,Diving,10m platform,"DIBIASI, Klaus",Men,ITA,Italy,M,NaN
9,Montreal,1976.0,Aquatics,Diving,10m platform,"ALEINIK, Vladimir",Men,URS,Soviet Union,M,Bronze

City - Thành phố nơi tổ chức Olympic

Year - Năm tổ chức

Sport - Thể loại thể thao (eg. Aquatics: môn dưới nước, 
Atheletics: điền kinh, ...)

Discipline - Môn thi đấu ứng với thể loại (eg. Diving: nhảy cầu, Swimming: bơi etc.)

Event - Hạng mục thi đấu (eg. 3m springboard: nhảy cầu 3m, 10m platform etc.)

Athlete - Tên vận động viên giành huy chương

Gender - Giới tính

Country_Code - Mã quốc gia 3 ký tự

Country - Quốc tịch của vận động viên

Event_gender - Giới tính vận động viên khi tham gia tranh tài 
(Male, Female or Common Event)

Medal - Huy chương (eg. Bronze, Silver, Gold)

In [5]:
data.shape

(15317, 11)

- Dữ liệu
 + 15317 dòng
 + 11 cột

# 1. Xử lí dữ liệu

1. Kiểm tra vấn đề dữ liệu
Một số vấn đề dữ liệu ta sẽ thực hiện kiểm tra:

Missing value

Duplicated

Lỗi logic

Bất đồng bộ

### 1.1 Kiểm tra dữ liệu bị thiếu

#### a. Kiểm tra trên bảng

In [6]:
data.isnull()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
15312,False,False,False,False,False,False,False,False,False,False,False
15313,False,False,False,False,False,False,False,False,False,False,False
15314,False,False,False,False,False,False,False,False,False,False,False
15315,False,False,False,False,False,False,False,False,False,False,True
15316,False,False,False,False,False,False,False,False,False,False,False

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15317 entries, 0 to 15316
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15241 non-null  object
 1   Year          15293 non-null  float64
 2   Sport         15317 non-null  object
 3   Discipline    15317 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15317 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15317 non-null  object
 8   Country       15238 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15271 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.3+ MB

**Một số thông tin thu được sau khi thực hiện kiếm tra:**
- Các cột City,Year,Country,Event_gender,Medal xuất  hiện giá trị bị thiếu
- Các cột có kiểu dữ liêu định lượng là:Year
- Các cột có kiểu dữ liệu định tính: City,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal

**Đếm số lượng missing value trong 1 cột**

In [10]:
data.isnull().sum()

City            76
Year            24
Sport            0
Discipline       0
Event            1
Athlete          0
Gender           1
Country_Code     0
Country         79
Event_gender     1
Medal           46
dtype: int64

In [8]:
(data.isnull().sum()/(len(data)))*100

City            0.496181
Year            0.156689
Sport           0.000000
Discipline      0.000000
Event           0.006529
Athlete         0.000000
Gender          0.006529
Country_Code    0.000000
Country         0.515767
Event_gender    0.006529
Medal           0.300320
dtype: float64

**Một số thông tin thu được sau khi thực hiện kiếm tra:**
- Cột City bị thiếu 76 dữ liệu

        => Giải pháp: Tính toán tỉ lệ giá trị bị thiếu trên tổng quan sát của mỗi cột. Có thể thấy dữ liệu tại cột City gặp vấn đề đến ~50% quan sát gặp vấn đề bị thiếu 
        => Thay thế bằng các gía trị xuất hiện nhiều nhất.
- Cột Year  bị thiếu 24 dữ liệu

        => Giải pháp: Bị mất gần 16% dữ liệu => Thay thế bằng các gía trị đứng trước nó.
- Cột Event bị thiếu 1 dữ liệu

        => Giải pháp: Bị mất gần 1% dữ liệu => Thay thế bằng các gía trị đứng trước nó.
- Cột Gender bị thiếu 1 dữ liệu

        => Giải pháp: Bị mất gần 1% dữ liệu => Thay thế bằng các gía trị đứng trước nó.
- Cột Country bị thiếu 79 dữ liệu

        => Giải pháp: Bị mất gần 52% dữ liệu => Thay thế bằng các gía trị xuất hiện nhiều nhất.
- Cột Medal bị thiếu 46 dữ liệu

        => Giải pháp: Bị mất 30% dữ liệu => Thay thế bằng các gía trị xuất hiện nhiều nhất.

### 1.2. Kiểm tra dữ liệu bị lặp

In [41]:
data.duplicated().sum()

3

- Có 3 cột bị lặp dữ liệu

In [42]:
data[data.duplicated()]

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
463,Montreal,1976.0,Canoe / Kayak,Canoe / Kayak F,K-1 500m (kayak single),"KORSHUNOVA, Tatyana",Women,URS,Soviet Union,W,Silver
464,Montreal,1976.0,Canoe / Kayak,Canoe / Kayak F,K-1 500m (kayak single),"KORSHUNOVA, Tatyana",Women,URS,Soviet Union,W,Silver
2205,Moscow,1980.0,Hockey,Hockey,hockey,"SINGH, Singh",Men,IND,India,M,Gold

- Dữ liệu bị lặp taị năm 1976 

  => Giaỉ pháp: Xóa 1 dòng
- Tại năm 1980 bị lặp môn thi "Hockey" taị cột Sport và Event  

  => Giaỉ pháp: Thay thế "Hockey"taịi cột Sport và Event bằng giá trị đứng trước nó.

# 2.Xử lí dữ liệu

## 2.1 Xử lí dữ liệu thiếu

In [29]:
x = random.choice(data['City'].fillna(data['City'].mode()))
x

'Atlanta'

In [30]:
data['Year'].fillna(method = 'ffill')

0        1976.0
1        1976.0
2        1976.0
3        1976.0
4        1976.0
          ...
15312    2008.0
15313    2008.0
15314    2008.0
15315    2008.0
15316    2008.0
Name: Year, Length: 15317, dtype: float64

In [31]:
data['Event'].fillna(method = 'ffill')

0        3m springboard
1        3m springboard
2        3m springboard
3        3m springboard
4          10m platform
              ...
15312         66 - 74kg
15313         66 - 74kg
15314         55 - 60kg
15315         60 - 66kg
15316        96 - 120kg
Name: Event, Length: 15317, dtype: object

In [32]:
data['Gender'].fillna(method = 'ffill')

0        Women
1          Men
2          Men
3          Men
4        Women
         ...
15312      Men
15313      Men
15314      Men
15315      Men
15316      Men
Name: Gender, Length: 15317, dtype: object

In [35]:
x = random.choice(data['Country'].fillna(data['Country'].mode()))
x

'Russia'

In [37]:
x = random.choice(data['Medal'].fillna(data['Medal'].mode()))
x

'Bronze'

In [38]:
data.isnull().sum()

City            76
Year            24
Sport            0
Discipline       0
Event            1
Athlete          0
Gender           1
Country_Code     0
Country         79
Event_gender     1
Medal           46
dtype: int64

In [ ]:
data['City'].fillna(data['City'].mode())

In [35]:
data.value_counts("City")

City
Beijing        2042
Sydney         2015
Athens         1998
Atlanta        1859
Barcelona      1705
Seoul          1546
Los Angeles    1459
Moscow         1387
Montreal       1305
dtype: int64

In [16]:
data['City'].fillna(method = 'ffill')

0        Montreal
1        Montreal
2        Montreal
3        Montreal
4        Montreal
           ...
15312       China
15313       China
15314       China
15315       China
15316       China
Name: City, Length: 15317, dtype: object

In [17]:
data.isnull().sum()

City            76
Year            24
Sport            0
Discipline       0
Event            1
Athlete          0
Gender           1
Country_Code     0
Country         79
Event_gender     1
Medal           46
dtype: int64

## 2.2 Xử lí dữ liệu lặp

In [49]:
data.drop_duplicates(keep='last',ignore_index=False)

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15312,China,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15313,China,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15314,China,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15315,China,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,NaN
15316,China,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold